#
# Generic ignore patterns.
*.o
*~
# ise-panel/
ise-panel/ise-panel
ise-panel/Makefile*
ise-panel/debug/*
ise-panel/release/*
ise-panel/moc_*.cpp
ise-panel/ui_*.h
# libiseio/
libiseio/lib_linux/libiseio.so
libiseio/lib_linux/configure
libiseio/lib_linux/config.log
libiseio/lib_linux/config.status
libiseio/lib_linux/Makefile
# sys-linux2.4/
sys-linux2.4/Makefile
sys-linux2.4/configure
sys-linux2.4/config.cache
sys-linux2.4/config.log
sys-linux2.4/config.status
sys-linux2.4/ise.ko
sys-linux2.4/ise.mod.c
sys-linux2.4/modules.order
sys-linux2.4/.*.o.cmd
sys-linux2.4/.*.ko.cmd
sys-linux2.4/.tmp_versions/*
sys-linux2.4/Module.*
# video_scope/
video_scope/Makefile*
video_scope/debug/*
video_scope/release/*
video_scope/moc_*.cpp
video_scope/ui_*.h
video_scope/video_scope
